ul
    width: 90%
    margin: 10px auto 10px auto 
    list-style-type: none
    
.alert
    width: 100%
    border: 1px solid rgba(204, 210, 233, 0.5)
    box-sizing: border-box
    border-radius: 16px
    margin: 10px auto 10px auto
    color: black

    &:hover
        background-color: #FFFFFF

.alert-primary
    display: flex
    flex-direction: row

.id
    width: 30px
    text-align: center
   
a
    text-decoration: none

.top
    width: 96%
    margin: 10px auto 0 auto
    padding: 8px

.top p
    margin-top: 4px
    text-decoration: underline

ngx-dadata
    margin: 1px
    